{% extends 'calculations/layout.html' %}
{% load static %}

{% block title %}
Скотч
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'calculations/css/valve.css' %}">
{% endblock %}

{% block scotch_class %}
active
{% endblock %}

{% block main_content %}
<div class="container-md">
    <div class="text"><span>Клейка стрічка або ж просто скотч</span> - це плівкова стрічка з клейовим покриттям, що застосовується в побуті та на виробництві. Використовується для склеювання предметів разом, а також для захисного або декоративного покриття предметів.</div>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 25%">Ширина, мм</th>
                    <th style="width: 16%">Довжина, м</th>
                    <th style="width: 19%">Товщина, мкм</th>
                    <th style="width: 40%">Сфера використання</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>45-48/66/72/96/144</td>
                <td>50-990</td>
                <td>40</td>
                <td>- Рекомендується упаковка коробок вагою до 3 кг</td>
            </tr>
            <tr>
                <td>45-48/66/72/96/144</td>
                <td>50-990</td>
                <td>43</td>
                <td>- Рекомендується упаковка коробок вагою до 5 кг</td>
            </tr>
            <tr>
                <td>45-48/66/72/96/144</td>
                <td>50-990</td>
                <td>45</td>
                <td>- Рекомендується упаковка коробок вагою до 10 кг<br>- Можна використовувати в запилених приміщеннях<br>- Більш морозостійкий</td>
            </tr>
            <tr>
                <td>45-48/66/72/96/144</td>
                <td>50-990</td>
                <td>48</td>
                <td>- Рекомендується упаковка коробок вагою до 16 кг<br>- Можна використовувати в запилених приміщеннях<br>- Більш морозостійкий.</td>
            </tr>
            <tr>
                <td>45-48/66/72/96/144</td>
                <td>50-990</td>
                <td>50-54</td>
                <td>- Можливість упаковувати коробки при температурі<br> нижче нуля та при високій вологості.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_links %}

{% endblock %}
