{% extends 'calculations/layout.html' %}
{% load static %}

{% block title %}
Розрахунок вартості ящика
{% endblock %}


{% block css_links %}
<link rel="stylesheet" href="{% static 'calculations/css/valve.css' %}">
{% endblock %}

{% block valve_class %}
active
{% endblock %}

{% block main_content %}
<div class="description__size">
    <div class="container-md">
        <div class="title_valvebox h1">самостійний розрахунок вартості ящика</div>
    </div>
</div>

<form action="" method="post" id="valveForm">
    {% csrf_token %}
    <div class="size">
        <div class="container-md size__body">
            <div class="size__item">
                <div class="size__label">Довжина</div>
                <input type="number" class="size__input" value="{{ params.length }}" name="length" id="in1" onchange="onChange('minLen', 'maxLen', 'in1')" oninput="onInput('minLen', 'maxLen', 'in1')">
            </div>
            <div class="size__item">
                <div class="size__label">Ширина</div>
                <input type="number" class="size__input" value="{{ params.width }}" name="width" id="in2" onchange="onChange('minWid', 'maxWid', 'in2')" oninput="onInput('minWid', 'maxWid', 'in2')">
            </div>
            <div class="size__item">
                <div class="size__label">Висота</div>
                <input type="number" class="size__input" value="{{ params.height }}" name="height" id="in3" onchange="onChange('minHei', 'maxHei', 'in3')" oninput="onInput('minHei', 'maxHei', 'in3')">
            </div>
        </div>
    </div>

    <div class="params">
        <div class="container-md params__body">
            <div class="params__item">
                <div class="params__title">Шари</div>
                <div class="params__select">
                    <select id="Layers" onchange="selectedLayers()" form="valveForm" name="layers">
                        <option value="Т">3 шаровий</option>
                        <option value="П">5 шаровий</option>
                    </select>
                </div>
            </div>
            <div class="params__item">
                <div class="params__title">Марка</div>
                <div class="params__select">
                    <select id="Marka"  form="valveForm" name="marka">
                        <option value="20">20</option>
                        <option value="21" selected>21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                    </select>
                </div>
            </div>
            <div class="params__item">
                <div class="params__title">Профіль</div>
                <div class="params__select">
                    <select id="Profile" form="valveForm" name="profile">
                        <option value="E">E</option>
                        <option value="B" selected>B</option>
                        <option value="C">C</option>
                    </select>
                </div>
            </div>
            <div class="params__item">
                <div class="params__title">Колір</div>
                <div class="params__select">
                    <select id="Colour" form="valveForm" name="colour">
                        <option value="white">Білий</option>
                        <option value="brown" selected>Бурий</option>
                    </select>
                </div>
            </div>
            <div class="params__item">
                <div class="params__title">Друк</div>
                <div class="params__select">
                    <select id="Print" form="valveForm" name="print">
                        <option value="0">Без друку</option>
                        <option value="1">1 колір</option>
                        <option value="2">2 кольри</option>
                        <option value="full">Повний</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md">
        <input type="submit" value="Розрахувати" class="submitButton">
    </div>
</form>


<div class="answers">
    <div class="answers__item">
        Ціна ящика: <span class="strong">{{ price }}</span>
    </div>
    <div class="asnwers__item">
        Мінімальний тираж: <span class="strong">{{ min_circulation }}</span>
    </div>
</div>
{% endblock %}

{% block js_links %}
    <script src="{% static 'calculations/js/valveBox.js' %}"></script>
{% endblock %}

