* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.box-size {
  width: 300px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-50px);
          transform: translateZ(-50px);
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}
.box-size__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000;
  background: rgba(182, 117, 6, 0.5);
}
.box-size__side__line {
  height: 5px;
  background: #000;
  width: 100%;
}
.box-size__side_front {
  width: 300px;
  height: 200px;
  -webkit-transform: rotateY(0deg) translateZ(50px);
          transform: rotateY(0deg) translateZ(50px);
}
.box-size__side_back {
  width: 300px;
  height: 200px;
  -webkit-transform: rotateY(180deg) translateZ(50px);
          transform: rotateY(180deg) translateZ(50px);
}
.box-size__side_right {
  width: 100px;
  height: 200px;
  left: 100px;
  -webkit-transform: rotateY(90deg) translateZ(150px);
          transform: rotateY(90deg) translateZ(150px);
}
.box-size__side_left {
  width: 100px;
  height: 200px;
  left: 100px;
  -webkit-transform: rotateY(-90deg) translateZ(150px);
          transform: rotateY(-90deg) translateZ(150px);
}
.box-size__side_top {
  width: 300px;
  height: 100px;
  top: 50px;
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}
.box-size__side_bottom {
  width: 300px;
  height: 100px;
  top: 50px;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.viewButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
body {
  font-size: 20px;
}

.wraper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1250px;
  padding: 0 50px;
  margin: auto;
  height: 100%;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  background: rgb(235, 213, 172);
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 70%;
  overflow: hidden;
  position: relative;
  border-radius: 20px 0 20px 0;
}
.header__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header__info {
  display: inline-block;
  color: rgb(175, 105, 8);
}
.header__title {
  font-size: 40px;
  color: rgb(175, 105, 8);
}
.header__list li {
  padding: 10px 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header__list li:hover {
  font-size: 21px;
}
.header__list a {
  padding-left: 7px;
  color: rgb(175, 105, 8);
}
.nav {
  background: rgb(45, 42, 42);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav a, .nav a:active, .nav a:visited {
  color: white;
}
.nav__item {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.nav__item i {
  margin-right: 10px;
}
.nav__item:hover {
  background: rgb(81, 86, 81);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.nav__item:last-child {
  border-right: none;
}
.nav__item.active {
  background: green;
}

@media screen and (max-width: 600px) {
  .nav {
    display: block;
  }
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 0;
}

.size {
  padding-bottom: 70px;
}
.size__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.size__get {
  width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(235, 213, 172);
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgb(241, 177, 57);
          box-shadow: 0 0 10px rgb(241, 177, 57);
}
.size__item {
  padding-bottom: 25px;
}
.size__item:last-child {
  padding-bottom: 0;
}
.size__label {
  font-size: 20px;
  font-weight: 600;
  color: rgb(175, 105, 8);
  margin-bottom: 7px;
  letter-spacing: 1px;
}
.size__input {
  font-size: 18px;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  font-weight: 600;
}
.size__input:focus {
  -webkit-box-shadow: 0 0 10px rgb(138, 137, 137);
          box-shadow: 0 0 10px rgb(138, 137, 137);
}
.size__scene {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.menu {
  display: inline-block;
  margin: 0 auto;
}
.menu:hover .menu__list {
  display: block;
}
.menu__title {
  background: rgb(129, 50, 132);
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
  color: white;
}
.menu__list {
  display: none;
}
.menu__list:last-child {
  border-radius: 0 0 10px 10px;
}

.item-menu {
  text-align: center;
  padding: 8px 0;
  position: relative;
  background: rgb(160, 235, 245);
}
.item-menu:hover {
  background: rgb(126, 183, 191);
}

.params__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}
.params__column {
  width: 100px;
  padding: 10px;
  border-radius: 4px;
}
.params__title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(175, 105, 8);
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}
.params__select select {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  background: rgb(184, 222, 245);
  border-radius: 4px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  width: 25%;
  font-size: 22px;
  font-weight: 600;
  background: rgba(182, 117, 6, 0.5);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.answer {
  margin: 0 auto;
  margin-top: 30px;
  width: 20%;
  font-size: 22px;
  font-weight: 600;
  background: rgba(182, 117, 6, 0.5);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

.footer {
  background: rgb(202, 200, 200);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}